
body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
div.background {
  border: 2px solid black;
}
div.transbox {
  margin: 0px;
  padding: 10px;
  background-color: #000000;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
div.bruh {
	color: yellow;
	font-weight: bold;
}
div.normal {
	color: white;
}
.collapsible {
  background:url(background.jpg) no-repeat;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}

.active, .collapsible:hover {
  background-color: #e2e3b1;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
